explanation-example/talk-to-watson.json
[{"id":"96570525.bfb258","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"41434c73.da61d4","type":"inject","z":"96570525.bfb258","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["44998fd6.33faa"]]},{"id":"44998fd6.33faa","type":"watson-speech-to-text-lite","z":"96570525.bfb258","name":"","apikey":"","url":"https://stream.watsonplatform.net/speech-to-text/api","x":400,"y":60,"wires":[["57787ea5.ee077"]]},{"id":"57787ea5.ee077","type":"watson-assistant-lite","z":"96570525.bfb258","name":"","apikey":"","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"","x":680,"y":60,"wires":[["707b5abf.6514c4"]]},{"id":"e0ef67e6.3c4f78","type":"watson-text-to-speech-lite","z":"96570525.bfb258","name":"","apikey":"","url":"https://stream.watsonplatform.net/text-to-speech/api","x":480,"y":140,"wires":[["cffee2f1.0341a"]]},{"id":"cffee2f1.0341a","type":"play audio","z":"96570525.bfb258","name":"","voice":"","x":730,"y":140,"wires":[]},{"id":"707b5abf.6514c4","type":"change","z":"96570525.bfb258","name":"","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"payload.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":140,"wires":[["e0ef67e6.3c4f78"]]}]