explanation-example/watson-speech-to-text.json
[{"id":"688f8527.7d233c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f0ba8879.6c1b78","type":"watson-speech-to-text-lite","z":"688f8527.7d233c","name":"","apikey":"","url":"https://stream.watsonplatform.net/speech-to-text/api","x":340,"y":80,"wires":[["b22c6e95.8e83a"]]},{"id":"836c2a7.b3e47d8","type":"inject","z":"688f8527.7d233c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["f0ba8879.6c1b78"]]},{"id":"b22c6e95.8e83a","type":"debug","z":"688f8527.7d233c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":80,"wires":[]}]