explanation-example/watson-text-to-speech.json
[{"id":"688f8527.7d233c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7a4abce7.c8f014","type":"inject","z":"688f8527.7d233c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["4df6184f.1d9dc8"]]},{"id":"cc70e6d4.129768","type":"watson-text-to-speech-lite","z":"688f8527.7d233c","name":"","apikey":"","url":"https://stream.watsonplatform.net/text-to-speech/api","x":500,"y":140,"wires":[["a6b30221.6b537"]]},{"id":"a6b30221.6b537","type":"play audio","z":"688f8527.7d233c","name":"","voice":"","x":710,"y":140,"wires":[]},{"id":"4df6184f.1d9dc8","type":"function","z":"688f8527.7d233c","name":"Set Text","func":"msg.payload = { text: \"Hello Arthur\" }\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["cc70e6d4.129768"]]}]