explanation-example/watson-assistant.json
[{"id":"96570525.bfb258","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ff57e8.ae012818","type":"watson-assistant-lite","z":"96570525.bfb258","name":"","apikey":"","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"","x":500,"y":60,"wires":[["8703068b.57bac8"]]},{"id":"c2936e87.61c28","type":"inject","z":"96570525.bfb258","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["d5d3a720.b207d8"]]},{"id":"8703068b.57bac8","type":"debug","z":"96570525.bfb258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":60,"wires":[]},{"id":"d5d3a720.b207d8","type":"function","z":"96570525.bfb258","name":"Set Input","func":"msg.payload = { text: \"hello, how are you\" }\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["ff57e8.ae012818"]]}]