arthur-no-raspberry.json
[{"id":"b241df57.1db6","type":"tab","label":"Virtual Concierge","disabled":false,"info":""},{"id":"2e276e63.01f712","type":"inject","z":"b241df57.1db6","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["8a2a1f96.f3da6"]]},{"id":"6a5997d2.95ba08","type":"switch","z":"b241df57.1db6","name":"validate password","property":"payload.entities[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":800,"wires":[["a245c7cf.b31f68"],["17c4a8b.03a5e57"]]},{"id":"17c4a8b.03a5e57","type":"switch","z":"b241df57.1db6","name":"validate password","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":840,"wires":[["a57565ff.efb648","f861ae8a.cdfaa"],["a245c7cf.b31f68"]]},{"id":"946ecbff.01d798","type":"switch","z":"b241df57.1db6","name":"check arthur words","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"General_Ending","vt":"str"},{"t":"eq","v":"General_Negative_Feedback","vt":"str"},{"t":"eq","v":"General_Connect_to_Agent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":890,"y":820,"wires":[["a57565ff.efb648"],["a57565ff.efb648"],["a57565ff.efb648"],["1f4719c2.155426"]]},{"id":"ced116b7.b8e9b8","type":"function","z":"b241df57.1db6","name":"assistant state setter","func":"if (!global.get(\"watsonAssistantState\")) {\n  global.set(\"watsonAssistantState\", \"create\");\n}\nmsg.payload = {\n  mode: global.get(\"watsonAssistantState\"),\n  text: msg.payload.text\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":580,"wires":[["f83f8f56.18191"]]},{"id":"a57565ff.efb648","type":"function","z":"b241df57.1db6","name":"end assistant session","func":"global.set(\"watsonAssistantState\", \"delete\");\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":660,"wires":[["ced116b7.b8e9b8"]]},{"id":"5aa84e62.bd695","type":"switch","z":"b241df57.1db6","name":"if assistant session is deleted","property":"watsonAssistantState","propertyType":"global","rules":[{"t":"neq","v":"delete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":680,"wires":[["6a5997d2.95ba08"],["4dda21d8.148c4"]]},{"id":"1f4719c2.155426","type":"function","z":"b241df57.1db6","name":"continue assistant session","func":"global.set(\"watsonAssistantState\", \"continue\");\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":900,"wires":[["9808a841.0a4af8"]]},{"id":"a245c7cf.b31f68","type":"switch","z":"b241df57.1db6","name":"handle wrong password","property":"payload.generic[0].text","propertyType":"msg","rules":[{"t":"eq","v":"Sorry, for security reasons I can not open the door for you.","vt":"str"},{"t":"eq","v":"That is not quite right. Let's try again.","vt":"str"},{"t":"eq","v":"Sorry, you got the password wrong again.","vt":"str"},{"t":"eq","v":"Last try, please get it right this time.","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":570,"y":840,"wires":[["a57565ff.efb648"],["1f4719c2.155426"],["1f4719c2.155426"],["1f4719c2.155426"],["946ecbff.01d798"]]},{"id":"f861ae8a.cdfaa","type":"change","z":"b241df57.1db6","name":"open door","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1000,"wires":[["ebc27763.e0a398","1320029c.3f13ad"]]},{"id":"ebc27763.e0a398","type":"delay","z":"b241df57.1db6","name":"door open for 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":980,"wires":[["b54b434e.1bdb5"]]},{"id":"b54b434e.1bdb5","type":"change","z":"b241df57.1db6","name":"close door","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1020,"wires":[["1320029c.3f13ad"]]},{"id":"1320029c.3f13ad","type":"debug","z":"b241df57.1db6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1060,"wires":[]},{"id":"4dda21d8.148c4","type":"function","z":"b241df57.1db6","name":"assistant state reset","func":"global.set(\"watsonAssistantState\", \"create\");\n","outputs":1,"noerr":0,"x":480,"y":740,"wires":[[]]},{"id":"6cadea65.431e94","type":"play audio","z":"b241df57.1db6","name":"","voice":"7","x":1110,"y":520,"wires":[]},{"id":"d4f437eb.32e5b8","type":"delay","z":"b241df57.1db6","name":"Let Arthur Speak for 7s","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":580,"wires":[["d91d952b.e93c18"]]},{"id":"9808a841.0a4af8","type":"delay","z":"b241df57.1db6","name":"Let Arthur Speak for 5s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":840,"wires":[["d91d952b.e93c18"]]},{"id":"d91d952b.e93c18","type":"watson-speech-to-text-lite","z":"b241df57.1db6","name":"listen and convert speech to text (Watson)","apikey":"","url":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":580,"wires":[["ced116b7.b8e9b8"]]},{"id":"8a2a1f96.f3da6","type":"watson-assistant-lite","z":"b241df57.1db6","name":"arthur","apikey":"","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"","x":330,"y":520,"wires":[["d4f437eb.32e5b8","e216cb20.24aed8"]]},{"id":"f83f8f56.18191","type":"watson-assistant-lite","z":"b241df57.1db6","name":"arthur","apikey":"","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"","x":990,"y":580,"wires":[["5aa84e62.bd695","e216cb20.24aed8"]]},{"id":"e216cb20.24aed8","type":"change","z":"b241df57.1db6","name":"","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"payload.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":520,"wires":[["59f6d376.a74b5c"]]},{"id":"e0c836.922207c8","type":"watson-text-to-speech-lite","z":"b241df57.1db6","name":"","apikey":"","url":"https://stream.watsonplatform.net/text-to-speech/api","x":880,"y":520,"wires":[["6cadea65.431e94"]]},{"id":"59f6d376.a74b5c","type":"switch","z":"b241df57.1db6","name":"check if text exists","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":460,"wires":[["e0c836.922207c8"]]}]