flow.json
[{"id":"e7981fdb.1289b","type":"tab","label":"Virtual Concierge","disabled":false,"info":""},{"id":"3f9a1523.f91fea","type":"play audio","z":"e7981fdb.1289b","name":"Arthur Greets Caller","voice":"8","x":520,"y":200,"wires":[]},{"id":"404d28e6.b6bad8","type":"debug","z":"e7981fdb.1289b","name":"debug arthur","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":728,"y":137,"wires":[]},{"id":"c6633173.a2036","type":"change","z":"e7981fdb.1289b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":200,"wires":[["e907eca8.e4923","3f9a1523.f91fea"]]},{"id":"16fd6777.d85099","type":"play audio","z":"e7981fdb.1289b","name":"Arthur speaks","voice":"8","x":773,"y":736,"wires":[]},{"id":"7a2e000e.fbce5","type":"comment","z":"e7981fdb.1289b","name":"greeting","info":"","x":340,"y":40,"wires":[]},{"id":"8a7d8bcd.d337f8","type":"change","z":"e7981fdb.1289b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ mode: \"start\" }","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":360,"wires":[["d660144c.916ee8"]]},{"id":"d660144c.916ee8","type":"watson-speech-to-text-lite","z":"e7981fdb.1289b","name":"listen and convert speech to text (Watson)","url":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":360,"wires":[["ee2882a7.49879","5e3c5155.80dc5"]]},{"id":"b9cda0db.f5a54","type":"rpi-gpio in","z":"e7981fdb.1289b","name":"button","pin":"16","intype":"down","debounce":"25","read":false,"x":70,"y":80,"wires":[["93145ecc.112e7","e332c503.fdeb58"]]},{"id":"e907eca8.e4923","type":"delay","z":"e7981fdb.1289b","name":"Let Arthur Speek for 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":260,"wires":[["8a7d8bcd.d337f8"]]},{"id":"3c68e6da.089cfa","type":"comment","z":"e7981fdb.1289b","name":"Records audio and transcribes it","info":"","x":440,"y":320,"wires":[]},{"id":"996c1ba.e9ac1e8","type":"comment","z":"e7981fdb.1289b","name":"Arthur Response","info":"","x":624,"y":410,"wires":[]},{"id":"9be2615c.9cd72","type":"switch","z":"e7981fdb.1289b","name":"if Arthur says","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"If you would like to speak to a human call","vt":"str"},{"t":"eq","v":"Come in. I'm opening the door for you.","vt":"str"},{"t":"eq","v":"Sorry, for security reasons I can not open the door for you.","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":171,"y":821,"wires":[["1a8525c8.e8d22a"],["1a8525c8.e8d22a","8b756632.77aa28"],["1a8525c8.e8d22a"],["5bc8d132.7b1e3"]]},{"id":"8b756632.77aa28","type":"change","z":"e7981fdb.1289b","name":"open door","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":966,"wires":[["28ed89ca.f8d646","1197c411.6ba0ac"]]},{"id":"28ed89ca.f8d646","type":"rpi-gpio out","z":"e7981fdb.1289b","name":"door","pin":"18","set":true,"level":"0","freq":"","out":"out","x":690,"y":1047,"wires":[]},{"id":"1197c411.6ba0ac","type":"delay","z":"e7981fdb.1289b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":947,"wires":[["4272ccf6.cec854"]]},{"id":"4272ccf6.cec854","type":"change","z":"e7981fdb.1289b","name":"close door after 5 seconds","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":987,"wires":[["28ed89ca.f8d646"]]},{"id":"47f43828.da3e18","type":"comment","z":"e7981fdb.1289b","name":"Opens the door","info":"","x":620,"y":927,"wires":[]},{"id":"9af38b2d.161428","type":"function","z":"e7981fdb.1289b","name":"","func":"global.set('watson-state', 'create');\nmsg.payload = { text: \"\", mode: global.get('watson-state') };\nreturn msg;","outputs":1,"noerr":0,"x":422,"y":75,"wires":[["d61e2b84.81f1a8"]]},{"id":"93145ecc.112e7","type":"debug","z":"e7981fdb.1289b","name":"debug pin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":140,"y":140,"wires":[]},{"id":"2ea75ab4.9fc9f6","type":"debug","z":"e7981fdb.1289b","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":848,"y":665,"wires":[]},{"id":"ee2882a7.49879","type":"debug","z":"e7981fdb.1289b","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":697,"y":270,"wires":[]},{"id":"94280908.d6dcc8","type":"debug","z":"e7981fdb.1289b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":733,"y":482,"wires":[]},{"id":"767166d3.c7f278","type":"change","z":"e7981fdb.1289b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":723,"y":570,"wires":[["16fd6777.d85099","2ea75ab4.9fc9f6","9be2615c.9cd72"]]},{"id":"1a8525c8.e8d22a","type":"function","z":"e7981fdb.1289b","name":"delete","func":"global.set('watson-state', 'delete');\nmsg.payload = { mode: 'delete' };\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":902,"wires":[["90a28411.e72c08","1fd1927f.5d216e"]]},{"id":"5bc8d132.7b1e3","type":"delay","z":"e7981fdb.1289b","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":174,"y":704,"wires":[["8a7d8bcd.d337f8","f43570db.14d65"]]},{"id":"f43570db.14d65","type":"function","z":"e7981fdb.1289b","name":"","func":"global.set('watson-state', 'continue');\nmsg.payload = global.get('watson-state');\n\nreturn msg;","outputs":1,"noerr":0,"x":223,"y":425,"wires":[["bf3edf5a.8e36e"]]},{"id":"5e3c5155.80dc5","type":"function","z":"e7981fdb.1289b","name":"","func":"msg.payload = { text: msg.payload.text, mode: global.get('watson-state') };\nreturn msg;","outputs":1,"noerr":0,"x":737,"y":360,"wires":[["90a28411.e72c08","931b9497.49ed98"]]},{"id":"90a28411.e72c08","type":"watson-assistant-lite","z":"e7981fdb.1289b","name":"Arthur","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"a9d90bbf-9e34-4a31-b5bb-635ab2a5e8f0","x":392,"y":534,"wires":[["94280908.d6dcc8","e1c96e1d.3a3a8"]]},{"id":"d61e2b84.81f1a8","type":"watson-assistant-lite","z":"e7981fdb.1289b","name":"Arthur","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"a9d90bbf-9e34-4a31-b5bb-635ab2a5e8f0","x":357,"y":136,"wires":[["404d28e6.b6bad8","c6633173.a2036"]]},{"id":"e332c503.fdeb58","type":"switch","z":"e7981fdb.1289b","name":"phone rings","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":77,"wires":[["9af38b2d.161428"],[]]},{"id":"bf3edf5a.8e36e","type":"debug","z":"e7981fdb.1289b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":404,"y":430,"wires":[]},{"id":"931b9497.49ed98","type":"debug","z":"e7981fdb.1289b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":312,"wires":[]},{"id":"1fd1927f.5d216e","type":"debug","z":"e7981fdb.1289b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":612,"y":827,"wires":[]},{"id":"e1c96e1d.3a3a8","type":"function","z":"e7981fdb.1289b","name":"","func":"if (global.get('watson-state') === 'delete'){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":602,"wires":[["7e514da0.b9e9e4"]]},{"id":"7e514da0.b9e9e4","type":"switch","z":"e7981fdb.1289b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":513,"y":653,"wires":[[],["767166d3.c7f278"]]}]