flow.json
[{"id":"6103f6f3.4b61a8","type":"tab","label":"Virtual Concierge","disabled":false,"info":""},{"id":"44882392.c0c7dc","type":"change","z":"6103f6f3.4b61a8","name":"","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"payload.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":553,"y":519,"wires":[["ac91d99b.44c308"]]},{"id":"a40bfe18.7158","type":"switch","z":"6103f6f3.4b61a8","name":"validate password","property":"payload.entities[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":800,"wires":[["b39693a3.60041"],["aa4af095.e86ff"]]},{"id":"aa4af095.e86ff","type":"switch","z":"6103f6f3.4b61a8","name":"validate password","property":"payload.entities[0].entity","propertyType":"msg","rules":[{"t":"eq","v":"password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":840,"wires":[["7d50580c.63ed28","ffc2688d.5904a8"],["b39693a3.60041"]]},{"id":"8c51d904.954f28","type":"switch","z":"6103f6f3.4b61a8","name":"check arthur words","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"General_Ending","vt":"str"},{"t":"eq","v":"General_Negative_Feedback","vt":"str"},{"t":"eq","v":"General_Connect_to_Agent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":890,"y":820,"wires":[["7d50580c.63ed28"],["7d50580c.63ed28"],["7d50580c.63ed28"],["af8c43f.93819c"]]},{"id":"f4f123a5.df411","type":"function","z":"6103f6f3.4b61a8","name":"assistant state setter","func":"if (!global.get(\"watsonAssistantState\")) {\n  global.set(\"watsonAssistantState\", \"create\");\n}\nmsg.payload = {\n  mode: global.get(\"watsonAssistantState\"),\n  text: msg.payload.text\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":580,"wires":[["ee510662.e954f8"]]},{"id":"7d50580c.63ed28","type":"function","z":"6103f6f3.4b61a8","name":"end assistant session","func":"global.set(\"watsonAssistantState\", \"delete\");\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":660,"wires":[["f4f123a5.df411"]]},{"id":"68e7abc3.244194","type":"switch","z":"6103f6f3.4b61a8","name":"if assistant session is deleted","property":"watsonAssistantState","propertyType":"global","rules":[{"t":"neq","v":"delete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":680,"wires":[["a40bfe18.7158"],["6603db6d.f6caa4"]]},{"id":"af8c43f.93819c","type":"function","z":"6103f6f3.4b61a8","name":"continue assistant session","func":"global.set(\"watsonAssistantState\", \"continue\");\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":900,"wires":[["cb15d371.5dcfd"]]},{"id":"b39693a3.60041","type":"switch","z":"6103f6f3.4b61a8","name":"handle wrong password","property":"payload.generic[0].text","propertyType":"msg","rules":[{"t":"eq","v":"Sorry, for security reasons I can not open the door for you.","vt":"str"},{"t":"eq","v":"That is not quite right. Let's try again.","vt":"str"},{"t":"eq","v":"Sorry, you got the password wrong again.","vt":"str"},{"t":"eq","v":"Last try, please get it right this time.","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":570,"y":840,"wires":[["7d50580c.63ed28"],["af8c43f.93819c"],["af8c43f.93819c"],["af8c43f.93819c"],["8c51d904.954f28"]]},{"id":"ffc2688d.5904a8","type":"change","z":"6103f6f3.4b61a8","name":"open door","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1000,"wires":[["4f52f006.bd078","ca300ebd.e521a"]]},{"id":"4f52f006.bd078","type":"delay","z":"6103f6f3.4b61a8","name":"door open for 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":980,"wires":[["9fff245f.3fc9e8"]]},{"id":"9fff245f.3fc9e8","type":"change","z":"6103f6f3.4b61a8","name":"close door","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1020,"wires":[["ca300ebd.e521a"]]},{"id":"6603db6d.f6caa4","type":"function","z":"6103f6f3.4b61a8","name":"assistant state reset","func":"global.set(\"watsonAssistantState\", \"create\");\n","outputs":1,"noerr":0,"x":480,"y":740,"wires":[[]]},{"id":"c8038e64.3617d","type":"play audio","z":"6103f6f3.4b61a8","name":"","voice":"","x":1090,"y":520,"wires":[]},{"id":"bb82162b.48a608","type":"delay","z":"6103f6f3.4b61a8","name":"Let Arthur Speak for 7s","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":580,"wires":[["7fa30ec1.80533"]]},{"id":"cb15d371.5dcfd","type":"delay","z":"6103f6f3.4b61a8","name":"Let Arthur Speak for 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":840,"wires":[["7fa30ec1.80533"]]},{"id":"d4c92948.e8dfa8","type":"debug","z":"6103f6f3.4b61a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1022,"y":400,"wires":[]},{"id":"7fa30ec1.80533","type":"watson-speech-to-text-lite","z":"6103f6f3.4b61a8","name":"listen and convert speech to text (Watson)","apikey":"","url":"https://stream.watsonplatform.net/speech-to-text/api","x":480,"y":580,"wires":[["f4f123a5.df411","d4c92948.e8dfa8"]]},{"id":"a099b418.46f2a8","type":"watson-assistant-lite","z":"6103f6f3.4b61a8","name":"arthur","apikey":"","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"","x":330,"y":520,"wires":[["44882392.c0c7dc","bb82162b.48a608","d4c92948.e8dfa8"]]},{"id":"ee510662.e954f8","type":"watson-assistant-lite","z":"6103f6f3.4b61a8","name":"arthur","apikey":"","url":"https://gateway.watsonplatform.net/assistant/api","assistantId":"","x":990,"y":580,"wires":[["68e7abc3.244194","44882392.c0c7dc","d4c92948.e8dfa8"]]},{"id":"7ab6ea69.824794","type":"watson-text-to-speech-lite","z":"6103f6f3.4b61a8","name":"","apikey":"","url":"https://stream.watsonplatform.net/text-to-speech/api","x":860,"y":520,"wires":[["c8038e64.3617d","d4c92948.e8dfa8"]]},{"id":"ca300ebd.e521a","type":"rpi-gpio out","z":"6103f6f3.4b61a8","name":"door","pin":"18","set":true,"level":"0","freq":"","out":"out","x":480,"y":1097,"wires":[]},{"id":"ac91d99b.44c308","type":"switch","z":"6103f6f3.4b61a8","name":"check if text exists","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":706,"y":453,"wires":[["7ab6ea69.824794"]]},{"id":"2606e3bc.95f05c","type":"inject","z":"6103f6f3.4b61a8","name":"buzz","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":517,"wires":[["a099b418.46f2a8"]]}]